@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}

/*
    Author: Dayal Saha
    Mail: dayalsaha1234567@gmail.com
    Website: www.dayalsaha.com

*/

/*
=======INDEX=======
    1.HEADER
    2.HOME
    3.HOW IT WORKS 
    4.DISCOVER A PROJECT 
    5.BLOG 
    6.FIND OUT MORE 
    7.FOOTER
*/ 

/*----------------------------------Global css start----------------------------------------*/ 


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    vertical-align: center;
    border-style: none;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}


/*----------------------------------Global css close----------------------------------------*/ 

/*------------------------------------header section start----------------------------------*/ 
header{
    width: 100%;
    float: left;
}

.navbar{
    padding: 28px 0;
}

.nav-link{
    color: #989898;
}

.nav-link:hover{
    color: #989898;
}

/*------------------------------------header section close----------------------------------*/ 

/*------------------------------------hero section start----------------------------------*/ 
section.hero{
    width: 100%;
    float: left;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),  url(img/hero.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.hero-heading {
    margin-top: 172px;
}

.hero-heading h1 {
    color: #fff;
    font-size: 49px;
    font-weight: 500;
}

.hero-heading span {
    font-size: 30px;
    font-weight: 400;
   
}

.hero-btn {
    margin-top: 35px;
    display: inline-block;
    margin-bottom: 170px;
}

.hero-btn a {
    background: #99c50a;
    outline: none;
    padding: 15px 25px;
    color: white;
    font-size: 14px;
    border-radius: 7px;
    text-decoration: none;
}

/*------------------------------------hero section close----------------------------------*/ 

/*------------------------------------work section start----------------------------------*/ 

.work{
    width: 100%;
    float: left;
    padding: 70px 0;
}

.work-heading{
margin-top: 35px;
}

.work-heading h3 {
    font-size: 36px;
    font-weight: 600;
    line-height: 49px;
}

.work-heading p {
    line-height: 32px;
    margin: 36px 0;
}


/*------------------------------------work section close----------------------------------*/ 

/*------------------------------------service section start----------------------------------*/ 

.service {
    width: 100%;
    float: left;
    padding: 25px 0;
}

.service-one {
    background-color: #e2f8ff;
    padding: 25px;
    width: 50%;
    float: left;
}

.service-one-image {
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: center;
}

.service-one-content h4 {
    font-size: 30px;
    font-weight: 600;
    color: #515151;
    padding-bottom: 20px;
    padding-top: 20px;
}

.service-one-content p {
    font-size: 17px;
    line-height: 23px;
    font-weight: 600;
    color: #515151;
}

.service-one-btn {
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    background-color: #26a6d1;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.service-two {
    width: 50%;
    float: left;
    background-color: #f5f9eb;
    padding: 25px;
}

.service-two-btn {
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    background-color: #add136;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}





/*------------------------------------service section close----------------------------------*/ 


/*-------------------------------------------------project section start-----------------------------*/

.project{
    width: 100%;
    float: left;
    padding: 70px 0;
}

.project-heading{

}

.project h3 {
    font-size: 32px;
    font-weight: 700;
    color: #515151;
}

.project-heading p{
    color: #515151; 
    margin-top: 22px;
}


.project-btn {
    border: none;
    border-right:  1px solid #9c9c9c;
    border-left: 1px solid #9c9c9c;
    padding: 15px 25px;
    background-color: white;
    border-radius: 10px;
    color: #9c9c9c;
    font-weight: 600;
    cursor: pointer;
}

.project-btn:focus {
    outline: none;
}

.card-one-img{
    position: relative;
    margin-top: 30px;
}

.card-one-img span{
    font-weight: bold;
}

.card-one-img img{
    width: 100%;
}


.card-one-img a {
    font-size: 20px;
    background-color: #26a6d1;
    color: white!important;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    top: 77%;
    right: 15px;
    text-decoration: none;
}

.card-one-content {
    padding-top: 25px;
    background-color: #f9f9f9;
    padding-left: 23px;
    padding-right: 17px;
    border-bottom: 2px solid #e5e5e594;
    border-left: 2px solid #e5e5e594;
    border-right: 2px solid #e5e5e594;
}

.card-one-content h4 {
    font-size: 20px;
    font-weight: bold;
    color: #484848;
    padding-bottom: 10px;
}

.card-one-content p {
    font-size: 16px;
    line-height: 2;
    color: #7b7b7b;
   padding-bottom: 25px;
}

.card-one-content h5 {
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    color: #7b7b7b;
}

.card-one-content h6 {
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    color: #7b7b7b;
    float: right;
}

.car-border {
    border-bottom: 1px solid #d6d6d6;
    display: block;
    margin-bottom: 15px;
    margin-top: 10px;
}

.card-one-content a {
    text-decoration: none;
    margin-left: 105px;
    font-size: 20px;
    color: #7b7b7b;
    
}


.fa.fa-caret-right{
    margin-bottom: 15px;
    color: #add136;
    display: inline-block;
        cursor: pointer;
    }



/*-------------------------------------------------project section close-----------------------------*/

/*----------------------------------------brand logo section start-----------------------------------------*/ 


.brand-logo{
    width: 100%;
    float: left;
    padding: 60px 0;
}

.mid-img img {
    max-width: 100px;
    margin: 10px 25px;
    cursor: pointer;
    filter: grayscale(100%);
}

.mid-img img:hover {
    filter: grayscale(0);
}


/*----------------------------------------logo section close-----------------------------------------*/ 

/*----------------------------------------footer section start-----------------------------------------*/ 

footer{
    width: 100%;
    float: left;
    padding: 20px 0;
}

footer span {
    display: block;
    width: 100%;
    border: 1px solid #adadad59;
}

footer p {
    color: #adadad;
    margin-top: 30px;
}

/*----------------------------------------footer section close-----------------------------------------*/ 


/*-------------------------------------media quiry-------------------------------------------*/ 
/*--------------------------foe mobile----------------*/ 

@media(min-width:320px) and (max-width:576px){

.navbar-brand{
position: relative;
left: 6%;
}

.nav-item{
    position: relative;
    left: 6%;
}

.fa.fa-bars{
    position: relative;
    right: 6%;
}

.fa.fa-bars:focus{
outline: none !important;
}

.hero-heading {
    margin-top: 88px;
}

.hero-btn {
    margin-top: 35px;
    display: inline-block;
    margin-bottom: 129px;
}

.hero-heading h1 {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.hero-heading span {
    font-size: 16px;
    font-weight: 400;
}

.work {
    width: 100%;
    float: left;
    padding: 34px 0;
}

.work-heading {
    margin-top: -25px;
}

.work-heading h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
}

.work-heading p {
    line-height: 20px;
    margin: 27px 0;
    text-align: center;
    font-size: 9px;
}

.service-one-image {
    margin-top: 6px;
    margin-bottom: 28px;
    text-align: center;
}

.service-one-content h4 {
    font-size: 30px;
    font-weight: 600;
    color: #515151;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

.service-one-content p {
    font-size: 15px;
    line-height: 23px;
    font-weight: 600;
    text-align: center;
    color: #515151;
}

.service-one-btn {
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    background-color: #26a6d1;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}


.service-two-btn {
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    background-color: #add136;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}



.project {
    width: 100%;
    float: left;
    padding: 40px 0;
}

.project-heading h3 {
    font-size: 22px;
    font-weight: 700;
    color: #515151;
    text-align: center;
}

.project-heading p {
    color: #515151;
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}

.project-btn {
    border: none;
    border-right: 1px solid #9c9c9c;
    border-left: 1px solid #9c9c9c;
    padding: 15px 25px;
    background-color: white;
    border-radius: 10px;
    color: #9c9c9c;
    font-weight: 600;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.card-one-content a {
    text-decoration: none;
    margin-left: 61px;
    font-size: 16px;
    color: #7b7b7b;
}

footer p {
    color: #adadad;
    margin-top: 30px;
    font-size: 13px;
}


}

/*--------------------------foe i-pad----------------*/ 

@media(min-width:576.01px) and (max-width:768px){

    .hero-heading h1 {
        color: #fff;
        font-size: 44px;
        font-weight: 500;
        text-align: center;
    }

    .hero-btn {
        margin-top: 35px;
        display: inline-block;
        margin-bottom: 129px;
    }

    .work-heading h3 {
        font-size: 36px;
        font-weight: 600;
        line-height: 48px;
        text-align: left;
    }

    .work-heading p {
        line-height: 31px;
        margin: 36px 0;
        text-align: left;
    }

    .service-one-image {
        margin-top: 15px;
        margin-bottom: 30px;
        text-align: center;
    }

    .service-one-content h4 {
        font-size: 40px;
        font-weight: 600;
        color: #515151;
        padding-bottom: 20px;
        padding-top: 20px;
        text-align: center;
    }

    .service-one-content p {
        font-size: 18px;
        line-height: 25px;
        font-weight: 600;
        color: #515151;
        text-align: center;
    }

    .service-one-btn {
        padding: 17px 26px;
        border: none;
        font-weight: bold;
        background-color: #26a6d1;
        color: white;
        border-radius: 10px;
        cursor: pointer;
        display: block;
        margin: 26px auto;
    }

    .service-two-btn {
        padding: 17px 26px;
        border: none;
        font-weight: bold;
        background-color: #add136;
        color: white;
        border-radius: 10px;
        cursor: pointer;
        margin: 15px auto;
        display: block;
    }

    .project h3 {
        font-size: 38px;
        text-align: center;
        font-weight: 700;
        color: #515151;
    }

    .project-btn {
        border: none;
        border-right: 1px solid #9c9c9c;
        border-left: 1px solid #9c9c9c;
        padding: 15px 25px;
        background-color: white;
        border-radius: 10px;
        color: #9c9c9c;
        font-weight: 600;
        cursor: pointer;
        margin: 15px auto;
        display: block;
    }


.project-heading p {
    color: #515151;
    margin-top: 22px;
    font-size: 13px;
    text-align: center;
}


.card-one-img a {
    font-size: 20px;
    background-color: #26a6d1;
    color: white!important;
    padding: 12px 18px;
    border-radius: 5px;
    position: absolute;
    top: 78%;
    right: 15px;
    text-decoration: none;
}

.card-one-content h4 {
    font-size: 28px;
    font-weight: bold;
    color: #484848;
    padding-bottom: 10px;
}
.card-one-content a {
    text-decoration: none;
    margin-left: 253px;
    font-size: 20px;
    color: #7b7b7b;
}


.brand-logo img {
    width: 130px;
    margin: 10px 61px;
    cursor: pointer;
    filter: grayscale(100%);
    display: inline-block;
}




}


/*--------------------------foe medium device----------------*/ 

@media(min-width:768.01px) and (max-width:992px){
    .hero-heading h1 {
        color: #fff;
        font-size: 60px;
        font-weight: 500;
        line-height: 75px;
    }

    .hero-btn a {
        background: #99c50a;
        outline: none;
        padding: 18px 21px;
        color: white;
        font-size: 17px;
        border-radius: 9px;
        text-decoration: none;
    }

    .work {
        width: 100%;
        float: left;
        padding: 12px 0;
    }

    .work-heading h3 {
        font-size: 40px;
        font-weight: 600;
        line-height: 49px;
    }

    .work-heading p {
        line-height: 26px;
        margin: 36px 0;
        font-size: 20px;
    }
    .service-one-content h4 {
        font-size: 18px;
        font-weight: 600;
        color: #515151;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .service-one-content p {
        font-size: 11px;
        line-height: 20px;
        font-weight: 600;
        color: #515151;
    }

    .service-one-btn {
        padding: 13px 21px;
        border: none;
        font-weight: bold;
        background-color: #26a6d1;
        color: white;
        border-radius: 10px;
        cursor: pointer;
        font-size: 10px;
    }

    .service-two-btn {
        padding: 15px 21px;
        border: none;
        font-weight: bold;
        background-color: #add136;
        color: white;
        border-radius: 10px;
        cursor: pointer;
        font-size: 9px;
    }

    .project-heading p {
        color: #515151;
        margin-top: 22px;
        font-size: 13px;
    }
    .project-btn {
        border: none;
        border-right: 1px solid #9c9c9c;
        border-left: 1px solid #9c9c9c;
        padding: 19px 22px;
        background-color: white;
        border-radius: 10px;
        color: #9c9c9c;
        font-weight: 600;
        cursor: pointer;
        font-size: 10px;
    }

    .card-one-img a {
      
        background-color: #26a6d1;
        color: white!important;
        padding: 3px 5px;
        border-radius: 5px;
        position: absolute;
        top: 74%;
        font-size: 14px;
        right: 12px;
        text-decoration: none;
    }

    .card-one-content h4 {
        font-size: 13px;
        font-weight: bold;
        color: #484848;
        padding-bottom: 10px;
    }


    .card-one-content p {
        font-size: 9px;
        line-height: 2;
        color: #7b7b7b;
        padding-bottom: 25px;
    }

    .card-one-content h5 {
        display: inline-block;
        font-size: 9px;
        font-weight: 600;
        color: #7b7b7b;
    }


    .card-one-content h6 {
        display: inline-block;
        font-size: 9px;
        font-weight: 600;
        color: #7b7b7b;
        float: right;
    }

    .card-one-content a {
        text-decoration: none;
        margin-left: 34px;
        font-size: 12px;
        color: #7b7b7b;
    }


    .fa.fa-caret-right{
        margin-bottom: 15px;
        color: #add136;
        display: inline-block;
            cursor: pointer;
        }


    .brand-logo img {
        width: 130px;
        margin: 10px 47px;
        cursor: pointer;
        filter: grayscale(100%);
        display: inline-block;
    }
    

}



/*--------------------------foe laptop or desktop----------------*/ 

@media(min-width:992.01px) and (max-width:1200px){

.hero-heading h1 {
    color: #fff;
    font-size: 43px;
    font-weight: 500;
}

.work {
    width: 100%;
    float: left;
    padding: 20px 0;
}

.work-heading h3 {
    font-size: 39px;
    font-weight: 600;
    line-height: 44px;
}

.work-heading p {
    line-height: 23px;
    margin: 36px 0;
    font-size: 13px;
}

.card-one-content a {
    text-decoration: none;
    margin-left: 70px;
    font-size: 16px;
    color: #7b7b7b;
}

.card-one-content h4 {
    font-size: 19px;
    font-weight: bold;
    color: #484848;
    padding-bottom: 10px;
}


.brand-logo img {
    width: 130px;
    margin: 5px 9px;
    cursor: pointer;
    filter: grayscale(100%);
    display: inline-block;
}






}